# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Build and packaging
build/
dist/
.eggs/
*.egg-info/

# IDE files
.vscode/
.idea/

# Large PyInstaller build output folders
desktop_app/

# Compressed archives
*.rar
*.zip
*.tar.gz
